.App {
  text-align: center;
}

.App-header {
  background-color: #474080;
  max-height: 100vh;
  display: grid;
  font-size: calc(10px + 2vmin);
  color: white;
}
@media screen and (max-width: 1186px) {
  .App-header {
    grid-template-columns: 25% 15% 50% 10%;
     } }

.App-logo {
  margin-left: 50px;
  height: 13vmin;
  pointer-events: none;
  grid-column: 1;
  grid-row: 1;
}

.Title-App-header{
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  size: 20px;
  margin-top: 40px;
  columns: 2;
  grid-row: 1;
}

.App-cartIcon{
  columns: 4;
  grid-row: 1;
  width: 30px;
  margin-top: 30px;
  margin-right: -120px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.Items-App-header{
  list-style-type: none;
  color: whitesmoke;
  font-size: 18px;
  text-align: right;
  margin-right: 30px;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  columns: 3;
  grid-row: 1;
  display: grid;
}

@media screen and (max-width: 1186px) {
  .Items-App-header {
    grid-template-columns: 33.3% 16.65% 16.65% 16.65% 16.65%;
    grid-template-rows: 25% 75%;  } }

.comida{
  grid-column: 2;
}
.ropa{
  grid-column: 3;
}
.salud{
  grid-column: 4;
}
.blog{
  grid-column: 5;
}

.li-App-header{
  display: inline-block;
  margin: 10px;
}

.li-App-header:hover{
  color: rgb(190, 190, 190);
}
.li-App-header:active{
 color: blue;
}
.categoriasTitulos{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-left: 65px;
  margin-top: 60px;
  margin-bottom: -20px;
  color: #474080;
}
a{
  color: white;
  text-decoration: none;
}